.li {
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 60%;
  clear: both;
  overflow: hidden;
}

.peer {
  background: #eeea;
  float: left;
  display: flex;
  flex-direction: column;
}

.self {
  background: #099;
  color: #eee;
  opacity: 0.3;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.received {
  opacity: 1;
}

.delayed {
  transition: opacity 0.4s;
}

.img {
  display: block;
  max-width: 100%;
  padding: 0;
}
