.button {
  width: 143px;
  margin-right: 0.75rem;
}

.join {
  background-color: green;
  color: white;
}

.join:hover {
  background-color: darkgreen;
}

.leave {
  background-color: #ca0;
  color: black;
}

.leave:hover {
  background-color: #a80;
}
