.main {
  height: 100vh;
  padding: 1.5rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: auto auto 1fr;
}

.videos {
  position: relative;
}

video {
  background-color: #ddd;
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: center;
}

video.self {
  width: 30%;
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
  border: 1px solid #ccc;
}

video.filter-none {
  filter: none;
}

video.filter-grayscale {
  filter: grayscale(100%);
}

video.filter-sepia {
  filter: sepia(100%);
}

video.filter-noir {
  filter: grayscale(100%) contrast(300%) brightness(60%);
}

video.filter-psychedelic {
  filter: hue-rotate(180deg) saturate(400%) contrast(200%);
}

.connected {
  cursor: pointer;
}

@media screen and (width >= 680px) {
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  .header {
    grid-column: 1/3;
  }
}
