@media screen and (width >= 500px) {
  .header {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    justify-content: flex-end;
  }

  .header > * {
    flex: 0 0 auto;
  }
}
